body{
    height: 100vh;
    display: flex;
    flex-flow: column;
    /*justify-content: space-between;*/
}

.card img{
    width: 150px;
    border-radius: 15px;
    border: 2px solid #3882F6;
}

.right img {
    width: 300px;
    
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    background: #1F2937;
    /*height: 100px;
    flex:1 0 auto;*/
    padding: 25px 70px 25px 0px;
}

.links {
    display: flex;
}

li {
    margin-left: 25px;
}

.description {
    display: flex;
    background: #1F2937;
    justify-content: space-around;
    padding: 30px 25px;
    margin-top: 0;
}
.ads {
    text-align: center;
}
.boxes {
    display: flex;
    flex:1;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
    
    
}
.card {
    width: 170px;
    text-align: center;
 }
 .text {
     font-weight: 700;
     color:#1f375a;;
 }
 a:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 90%;
    zoom: 97%;
 }
.footer{
    background: lightblue;
    margin-top: auto;
}
.info {
    padding: 15px 0;
}
a:hover +.text {
    color: black;
}