@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Righteous&family=Wallpoet&display=swap');

@media all and (max-width: 800px) {
    /*img {width:100px;}*/
    .header {flex-direction: column;}
    .description {flex-direction: column;
                text-align: center;}
    


    }
body{
   /* height: 100vh;
    width: 100vw;*/
    display: flex;
    flex-flow: column;
    flex: 1;
    margin:0;
   
}

h1{
    font-size: 40px;
    color: #f9faf8;
    
}

.logo {
    font-size: 28px;
    color: orangered;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-family: 'Righteous';
}
.card img{
    width: 200px;
    border-radius: 15px;
    border: 2px solid #3882F6;
    box-shadow: 5px 5px 5px grey;
}

.right img {
    width: 200px;
    
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    padding: 25px;
    align-items: center;
}

.links {
    display: flex;
    font-family: 'Righteous';
}

li {
    margin-right: 15px;
}

.description {
    display: flex;
    background: #1F2937;
    justify-content: center;
    padding: 30px 25px;
    margin-top: 0;
    column-gap: 20%;
}

.left {
width: 30%;
}

.ads {
    text-align: center;
    color: #1F2937;
    word-spacing: 7px;
}

.boxes {
    display: flex;
    flex:1;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
    
    
}

.card {
    width: 220px;
    text-align: center;
    
}

 .text {
     font-weight: 700;
     color:#1f375a;;
}

a.card_link:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 90%;
    zoom: 97%;
}

.footer{
    background: #1F2937;
    /*margin-top: auto;*/
    text-align: center;
    color: white;
    font-family: 'Righteous';
    letter-spacing: 1px;
   
}

.info {
    padding: 30px 0;
}

a:hover +.text {
    color: orangered;
}

.quote {
    text-align: center;
    background: #e5e7eb;
    font-style: italic;
    margin-top: auto;
    padding: 50px;
    font-weight: 100;
    color: #1F2937;

}

a.header_link:hover {
    color: orangered; 
}

.bottom{
    background: #3882F6;
    align-items: center;
    padding: 20px;
    margin: 35px auto;
    border-radius: 15px;
    color: white;
    width: 30%;
    min-width: 400px;
    box-shadow: 10px 5px 5px grey;
    font-family: 'Righteous';
    font-size: 15px;
    letter-spacing: 1px;
}

h3, p{
    padding: 0;
    margin:0;
}

.action {
    display: flex;
    justify-content: space-between;
    /*gap: 100px;*/
    align-items: flex-end;
}

button {
    padding: 8px 14px;
    border-radius: 5px;
    background: #3882F6;
    color: white;
    font-family: 'Righteous';
    font-weight: 800;
    letter-spacing: 1px;
}

.action button{
    border: 2px solid white;
}
.button2:hover {
    background: white;
    color: #3882F6;
}

.left button {
    border: 2px solid #3882F6;;
}
.button1:hover {
    background: #1f375a;
    color: #3882F6;
}

h1, h2, .info, .quote {
    font-family: 'Bungee Inline';
}
.left p {
    color: rgb(252, 144, 105);
    font-family: 'Righteous';
    letter-spacing: 1px;
}
.button1 {
    margin-top: 5px;
}